.addPanel {
    padding: 15px 0px 10px 0;
    margin: 10px;
    box-shadow: 0 0 15px 0 rgb(194, 194, 194);

    button {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .optionsCol {
        display: flex;
        justify-content: flex-start;
    }

    .bp3-checkbox {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .addPanel {

        input {
            margin: 5px 0;
        }

        button {
            margin-top: 5px;
        }

        .bp3-checkbox {
            margin-top: 15px;
        }
    }
}