.react-calendar {
    width: 100% !important;
    margin-top: 5px;

    .react-calendar__month-view__weekdays__weekday {
        text-align: center !important;
    }

    abbr {
        text-decoration: none !important;
    }
}

.react-calendar__navigation {

    button {
        background-color: rgb(238, 238, 238);
        color: black;
        border: none;
        cursor: pointer;
        margin: 5px 3px;
        border-radius: 4px;
        font-size: 20px;
        width: 38px;
        height: 30px;
        padding-bottom: 5px;
    }

    .react-calendar__navigation__label {
        background-color: #fff;
        color: #000;
    }
}

.react-calendar__tile {
    height: 40px;
    border-radius: 0 !important;
    background-color: #fff;
    border:1px solid rgb(189, 188, 188);
    cursor: pointer;
}