.calendarInfo {
    display: flex;
    align-items: center;

    .info {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    button {
        margin: 0;
        min-width: 100px;
        height: 50px;
        border-radius: 0px;
    }

    button:not(.bp3-skeleton) {
        background: #0f9960 !important;
        color: #fff !important;
    }
    
    h3 {
        margin: 0 0 0 6px;
        position: relative;
        top: 5px;
        font-weight: 300;
    }

    h3:first-child {
        font-weight: 400;
    }
}

@media screen and (max-width: 443px) {
    .calendarInfo {
        flex-direction: column;

        button {
            width: 100vw;
            margin: 0;
            border-radius: 0;
            height: 35px;
        }

        .info {
            width: 95%;
        }
    }
}