.eventDetails {
    .bp3-card {
        margin-top: 15px;
        box-shadow: 0 0 15px 0 rgb(194, 194, 194);
        padding: 15px;
    }

    .eventDetails__addNoteForm {
        display: flex;
        margin-bottom: 10px;

        .bp3-icon {
            color: green;
            font-size: 1.5rem;
            margin-right: 10px;
        }

        button {
            white-space: nowrap;

            span {
                margin: 0 2px 0 0 !important;
            }
        }
    }
}

.eventDetails__name {
    font-size: 1.5rem;
    color: #106ba3;
}

.eventDetails__description {
    font-size: 1.1rem;
}

.eventDetails__note {
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(231, 231, 231);
    padding: 8px 30px 0 8px;
    margin: 5px 0;
    border-radius: 6px;
    position: relative;

    p:first-child {
        margin-bottom: 0;
    }
}

.eventDetails__actions {
    position: absolute;
    top: 0px;
    right: 5px;
}

@media screen and (max-width: 443px) {
    .eventDetails {
        margin-top: -10px;
        padding-right: 0;
        padding-left: 0;

        .bp3-card {
            padding: 10px;
        }
    }
}