.passwordModal {
    max-width: 90vw;

    .bp3-input-group {
        margin: 15px 0 10px 0;
        
        input {
            border-radius: 0 !important;
        }
    }   

    .bp3-button {
        margin-top: 5px;
        border-radius: 0 !important;
        outline: none;
    }

    .bp3-heading {
        font-size: 1rem;
        font-weight: 200;
        text-align: center;
    }
}